.select2-selection {
    text-align: center;
    height: 55%!important;
}

.select2-selection__rendered {
     margin: 1%;
}

.select2-selection__arrow {
    margin: 1%;
}

table.dataTable thead th {
    background: transparent !important;
}
  
table.dataTable thead span.sort-icon {
    display: inline-block;
    padding-left: 5px;
    margin-top: 3px;
    position: absolute;
    width: 15px;
    height: 15px;
}

table.dataTable thead .sorting span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_both.png') no-repeat center left; }
table.dataTable thead .sorting_asc span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc.png') no-repeat center left; }
table.dataTable thead .sorting_desc span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc.png') no-repeat center left; }
table.dataTable thead .sorting_asc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc_disabled.png') no-repeat center left; }
table.dataTable thead .sorting_desc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc_disabled.png') no-repeat center left; }  